@import "./header.component-param";

#header-comp {
    width: 100%;
    //border-bottom: 1px solid #83bf46;
    //box-sizing: border-box;
    [nz-row] {
        background-color: #fff;
    }
}

.logo {
    width: 100%;
    height: $header-height;
    padding: 2px 5px;
}

/* 覆盖 antd */
#nav-menu {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    ul li {
        .icon-box {
            height: 30px;
            line-height: 30px;
            text-align: center;
            padding-left: 10px;
        }
        .menu-title {
            height: 24px;
            line-height: 24px;
            text-align: center;
        }
    }
}

#personal-menu {
    height: $header-height;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
    word-break: keep-all;
    text-overflow: ellipsis;

    .personal-menu-item {
        position: relative;
        line-height: $header-height;
        text-align: center;
        .bell {
            i {
                font-size: 1.7rem;
            }
            min-width: 50px;
            position: relative;
            .bell-total {
                position: absolute;
                top: -15px;
                right: -7px;
            }
        }
    }
}