<div id="header-comp">
    <div nz-row>
        <!--<div nz-col nzSpan="3">&lt;!&ndash; logo &ndash;&gt;
            <div class="logo">
                &lt;!&ndash;<img src="../../../../assets/images/newlogo_small.png" alt="LOGO">&ndash;&gt;
            </div>
        </div>-->

        <div nz-col nzSpan="20" nzXl="18" nzLg="20" id="nav-menu"><!-- nav-menu -->
            <ul nz-menu [nzMode]="'horizontal'">
                <li nz-menu-item>
                    <div class="icon-box">
                        <i nz-icon type="desktop" theme="outline"></i>
                    </div>
                    <p class="menu-title">实时监控</p>
                </li>
                <li nz-menu-item>
                    <div class="icon-box">
                        <i nz-icon type="file-ppt" theme="outline"></i>
                    </div>
                    <a class="menu-title" routerLink="/manage/plan">方案管理</a>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="idcard" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>基础信息</p>
                    <ul>
                        <li nz-menu-group>
                            <a routerLink="/manage/baseInfo/staffs" nz-menu-item title>人员信息</a>
                        </li>
                        <li nz-menu-group>
                            <a routerLink="/manage/baseInfo/vehicles" nz-menu-item title>车辆信息</a>
                        </li>
                        <li nz-menu-group>
                            <a routerLink="/manage/baseInfo/customers" nz-menu-item title>收运单位管理</a>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="car" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>车队管理</p>
                    <ul>
                        <li nz-menu-group>
                            <span nz-menu-item title>新功能实现中</span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="profile" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>历史记录</p>
                    <ul>
                        <li nz-menu-group>
                            <span nz-menu-item title>新功能实现中</span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="table" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>数据统计</p>
                    <ul>
                        <li nz-menu-group>
                            <span nz-menu-item title>新功能实现中</span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="safety" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>排查管理</p>
                    <ul>
                        <li nz-menu-group>
                            <span nz-menu-item title>新功能实现中</span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="switcher" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>卡的管理</p>
                    <ul>
                        <li nz-menu-group>
                            <span nz-menu-item title>新功能实现中</span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="pay-circle" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>签约管理</p>
                    <ul>
                        <li nz-menu-group>
                            <span nz-menu-item title>新功能实现中</span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <div class="icon-box" title>
                        <i nz-icon type="setting" theme="outline"></i>
                    </div>
                    <p class="menu-title" title>系统设置</p>
                    <ul>
                        <li nz-menu-group>
                            <a routerLink="/manage/system/apkManagement" nz-menu-item title>应用更新</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div nz-col nzSpan="4" nzXl="6" nzLg="4" id="personal-menu" nz-row ><!-- personal-menu -->
            <!-- 小铃铛 -->
            <div nz-col nzSpan="6">
                <div class="personal-menu-item" *ngIf="!!bellCounts">
                    <div class="bell">
                        <i nz-icon type="bell" theme="outline"></i>
                        <nz-tag [nzColor]="'red'" class="bell-total">12</nz-tag>
                    </div>
                </div>
            </div>
            <!-- welcome -->
            <div nz-col nzSpan="12">
                <div class="personal-menu-item">
                    <i nz-icon type="smile" theme="outline"></i> 欢迎{{name ? ', ' + name : ''}}
                </div>
            </div>
            <!-- logout -->
            <div nz-col nzSpan="6">
                <div class="personal-menu-item">
                    <a routerLink="/login" (click)="onLogout($event)">
                        <i nz-icon type="logout" theme="outline"></i> 退出
                    </a>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

</div>