<div id="form">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
        <!-- 模板驱动表单 -->

        <nz-row>
            <nz-col></nz-col>
        </nz-row>
        <form #ClusterForm></form>
        <form #SeparateForm></form>

        <form nz-form
              (ngSubmit)="onSubmitForm()"
              #myForm="ngForm">
            <nz-divider [nzText]="basicTemplate">
                <ng-template #basicTemplate>
                    <span style="color: #83bf46;">基本信息</span>
                </ng-template>
            </nz-divider>

            <nz-form-item style="margin-bottom: 5px;">
                <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="category">类别</nz-form-label>
                <nz-form-control [nzSm]="19" [nzXs]="24">
                    <nz-radio-group
                            name="category"
                            id="selectedCategory"
                            required
                            [nzButtonStyle]="'solid'"
                            [(ngModel)]="selectedCategory"
                            #category="ngModel">
                        <label nz-radio-button nzValue='Separate' [nzDisabled]="type === 'edit'">普通收集点</label>
                        <label nz-radio-button nzValue='Cluster'  [nzDisabled]="type === 'edit'">广场点</label>
                    </nz-radio-group>
                    <nz-form-explain [hidden]="category.valid || category.pristine">请选择类别</nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <!-- 当选择类别为普通收集点时 Separate start -->
            <div *ngIf="selectedCategory === 'Separate'">
                <!-- 先预留账号密码,日后添加商家功能使用 -->
                <!--<nz-form-item>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="account">账号</nz-form-label>
                    <nz-form-control [nzSm]="7" [nzXs]="24">
                        <input nz-input
                               required
                               name="account"
                               placeHolder="请输入您的帐号"
                               [(ngModel)]="formModel.account"
                               #collectionName="ngModel">
                        <nz-form-explain [hidden]="account.valid || account.pristine">请输入账号</nz-form-explain>
                    </nz-form-control>

                    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="password">密码</nz-form-label>
                    <nz-form-control [nzSm]="7" [nzXs]="24">
                        <input nz-input
                               required
                               type="password"
                               name="password"
                               placeHolder="请输入您的密码"
                               [(ngModel)]="formModel.password"
                               #collectionName="ngModel">
                        <nz-form-explain [hidden]="password.valid || password.pristine">请输入密码</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>-->

                <nz-form-item style="margin-bottom: 5px;">
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="collectionNameSeparate">名称</nz-form-label>
                    <nz-form-control [nzSm]="7" [nzXs]="24">
                        <input nz-input
                               required
                               name="collectionNameSeparate"
                               placeHolder="请输入名称"
                               [(ngModel)]="formModelSeparate.collectionName"
                               #collectionNameSeparate="ngModel">
                        <nz-form-explain [hidden]="collectionNameSeparate.valid || collectionNameSeparate.pristine">请输入收运单位名称
                        </nz-form-explain>
                    </nz-form-control>

                    <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired nzFor="collectionTypeSeparate">单位类型</nz-form-label>
                    <nz-form-control [nzSm]="7" [nzXs]="24">
                        <nz-select
                                name="collectionTypeSeparate"
                                required
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="请选择类型"
                                [(ngModel)]="formModelSeparate.collectionType"
                                #collectionTypeSeparate="ngModel">
                            <nz-option nzLabel="餐饮单位" nzValue="1"></nz-option>
                            <nz-option nzLabel="政府" nzValue="2"></nz-option>
                            <nz-option nzLabel="医院" nzValue="3"></nz-option>
                            <nz-option nzLabel="学校" nzValue="4"></nz-option>
                            <nz-option nzLabel="企业" nzValue="5"></nz-option>
                            <nz-option nzLabel="其他" nzValue="6"></nz-option>
                        </nz-select>
                        <nz-form-explain [hidden]="collectionTypeSeparate.valid || collectionTypeSeparate.pristine">请选择单位类型
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item style="margin-bottom: 5px;">
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="address">地址</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <app-cascader [(values)]="formModelSeparate.address"
                                      (changesEmitter)="onAddressChange($event)"></app-cascader>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item style="margin-bottom: 5px;">
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="detailAddressSeparate">详细地址</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <nz-input-group [nzSuffix]="suffixTemplateCluster">
                            <input type="text"
                                   nz-input
                                   name="detailAddressSeparate"
                                   placeHolder="请输入详细地址"
                                   [(ngModel)]="formModelSeparate.detailAddress"
                                   #detailAddressSeparate="ngModel">
                        </nz-input-group>
                        <ng-template #suffixTemplateSeparate>
                            <i class="anticon anticon-close-circle"
                               style="margin-right: 5px;cursor: pointer;"
                               *ngIf="formModelSeparate.detailAddress"
                               (click)="formModelSeparate.detailAddress=null">
                            </i>
                            <i class="anticon anticon-environment-o"
                               style="cursor: pointer;"
                               nzTitle="展开地图选点"
                               nzPlacement="right"
                               nz-tooltip
                               (click)="onShowMap()">
                            </i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="contactPersonName">联系人</nz-form-label>
                    <nz-form-control [nzSm]="4" [nzXs]="24">
                        <input nz-input
                               required
                               name="contactPersonName"
                               placeHolder="请输入名称"
                               [(ngModel)]="formModelSeparate.contactPersonName"
                               #contactPersonNameSeparate="ngModel">
                        <nz-form-explain [hidden]="contactPersonNameSeparate.valid || contactPersonNameSeparate.pristine">请输入联系人名称
                        </nz-form-explain>
                    </nz-form-control>

                    <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired="{{!formModelSeparate.tel}}" nzFor="mobile">联系电话</nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24">
                        <input nz-input
                               required
                               name="mobile"
                               id="'mobile'"
                               required="{{!formModelSeparate.tel}}"
                               placeHolder="联系人移动电话"
                               [(ngModel)]="formModelSeparate.mobile"
                               #mobileSeparate="ngModel">
                        <nz-form-explain [hidden]="mobileSeparate.valid || mobileSeparate.pristine">固定电话和移动电话选填
                        </nz-form-explain>
                    </nz-form-control>

                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="dustbinCounts">派桶数</nz-form-label>
                    <nz-form-control [nzSm]="4" [nzXs]="24">
                        <nz-input-number
                                style="width: 100%"
                                name="dustbinCounts"
                                required
                                nzPlaceHolder="请输入数字"
                                [nzMin]="1"
                                [nzStep]="1"
                                [(ngModel)]="formModelSeparate.dustbinCounts"
                                #dustbinCountsSeparate="ngModel">
                        </nz-input-number>
                        <nz-form-explain [hidden]="dustbinCountsSeparate.valid || dustbinCountsSeparate.pristine">请选择派发垃圾桶数量
                        </nz-form-explain>
                    </nz-form-control>

                    <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired="{{!formModelSeparate.mobile}}" nzFor="tel">固定电话</nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24">
                        <!-- 固话选填 -->
                        <input nz-input
                               name="tel"
                               id="'tel'"
                               required="{{!formModelSeparate.mobile}}"
                               placeHolder="请输入固定电话"
                               [(ngModel)]="formModelSeparate.tel"
                               #telSeparate="ngModel">
                        <nz-form-explain [hidden]="telSeparate.valid || telSeparate.pristine">固定电话和移动电话选填
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-divider [nzText]="planTemplate">
                    <ng-template #planTemplate>
                        <span style="color: #83bf46;">规划信息</span>
                    </ng-template>
                </nz-divider>

                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="hasKey">收运时是否自带钥匙</nz-form-label>
                    <nz-form-control [nzSm]="10" [nzXs]="24">
                        <nz-radio-group
                                name="hasKey"
                                id="hasKey"
                                required
                                [nzButtonStyle]="'solid'"
                                [(ngModel)]="formModelSeparate.hasKey"
                                #hasKey="ngModel">
                            <label nz-radio-button nzValue=0>否</label>
                            <label nz-radio-button nzValue=1>是</label>
                        </nz-radio-group>
                        <nz-form-explain [hidden]="hasKey.valid || hasKey.pristine">请选择是否</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item style="margin-bottom: -5px;" *ngIf="type === 'add' || (cache ? cache.level : formModelSeparate.level) === 0">
                    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired style="text-align: left;">
                        要求收运时间段(至少选择一个)
                    </nz-form-label>
                </nz-form-item>
                <nz-form-item  *ngIf="type === 'add' || formModelSeparate.level === 0">
                    <!-- 餐厨垃圾 和 废弃油脂 标签页 -->
                    <nz-form-control [nzSm]="22" [nzXs]="24" nzOffset="1">
                        <nz-tabset [nzTabBarExtraContent]="addSeparateDurationTemplate">
                            <nz-tab [nzTitle]="'餐厨垃圾'" (nzSelect)="formModelSeparate.duration.tabType = 'food'">
                                <!--餐厨垃圾-->
                                <nz-form-item
                                        *ngFor="let item of formModelSeparate.duration.food;"
                                        style="background-color: #eee; padding: 7px 5px 0;margin-bottom: 10px;">
                                    <i class="anticon anticon-minus-circle-o dynamic-delete-button"
                                       style="position: absolute; top: -2px;right: 0;z-index: 1;font-size: 1.4rem; cursor: pointer;"
                                       (click)="onRemoveDuration(formModelSeparate.duration.tabType, item.idx)">
                                    </i>
                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired
                                                       nzFor="dateType-{{item.idx}}-food-separate">时间类型
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="dateType-{{item.idx}}-food-separate"
                                                    nzPlaceHolder="时间段"
                                                    [(ngModel)]="item.dateType">
                                                <nz-option nzLabel="节假日" nzValue="Holiday"></nz-option>
                                                <nz-option nzLabel="工作日" nzValue="Working"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired
                                                       nzFor="startTime-{{item.idx}}-food-separate">时间区间
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="startTime-{{item.idx}}-food-separate"
                                                    required
                                                    [(ngModel)]="item.startTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="1" [nzXs]="24">
                                            <nz-form-text>至</nz-form-text>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="endTime-{{item.idx}}-food-separate"
                                                    required
                                                    [(ngModel)]="item.endTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                    </nz-form-item>

                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="level-{{item.idx}}-food">
                                            重要等级
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="level-{{item.idx}}-food-separate"
                                                    required
                                                    nzShowSearch
                                                    nzAllowClear
                                                    nzPlaceHolder="请选择级别"
                                                    [(ngModel)]="item.priorityType">
                                                <nz-option nzLabel="高" nzValue="Hard"></nz-option>
                                                <!--<nz-option nzLabel="中" nzValue="High"></nz-option>-->
                                                <nz-option nzLabel="低" nzValue="Low"></nz-option>
                                            </nz-select>
                                        </nz-form-control>

                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1"
                                                       nzFor="vehicle-{{item.idx}}-food-separate">
                                            指定车辆
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="10" [nzXs]="24">
                                            <nz-select
                                                    required
                                                    name="vehicle-{{item.idx}}-food-separate"
                                                    [(ngModel)]="item.plateNumber"
                                                    nzPlaceHolder="请指定车辆"
                                                    nzAllowClear
                                                    nzShowSearch
                                                    [nzServerSearch]="true"
                                                    (nzOnSearch)="onSearchVehicles($event)"
                                                    (nzOpenChange)="onVehicleSearchOpen($event)">
                                                <!-- 这个option 为了防止初始化表单时,车辆没有显示出值 -->
                                                <nz-option *ngIf="item.plateNumber && !vehicles"
                                                           [nzValue]="item.plateNumber"
                                                           [nzLabel]="item.plateNumber">
                                                </nz-option>

                                                <ng-container *ngFor="let o of vehicles">
                                                    <nz-option *ngIf="!isVehiclesLoading" [nzValue]="o"
                                                               [nzLabel]="o"></nz-option>
                                                </ng-container>
                                                <nz-option *ngIf="isVehiclesLoading" nzDisabled nzCustomContent>
                                                    <i nz-icon type="loading" class="loading-icon"></i> 加载中...
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-form-item>
                            </nz-tab>

                            <nz-tab [nzTitle]="'废弃油脂'" (nzSelect)="formModelSeparate.duration.tabType = 'oil'">
                                <!--废弃油脂-->
                                <nz-form-item
                                        *ngFor="let item of formModelSeparate.duration.oil;"
                                        style="background-color: #eee; padding: 7px 5px 0;margin-bottom: 10px;">
                                    <i class="anticon anticon-minus-circle-o dynamic-delete-button"
                                       style="position: absolute; top: -2px;right: 0;z-index: 1;font-size: 1.4rem; cursor: pointer;"
                                       (click)="onRemoveDuration(formModelSeparate.duration.tabType, item.idx)">
                                    </i>
                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired
                                                       nzFor="dateType-{{item.idx}}-oil-separate">时间类型
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="dateType-{{item.idx}}-oil-separate"
                                                    required
                                                    nzShowSearch
                                                    nzAllowClear
                                                    nzPlaceHolder="时间段"
                                                    [(ngModel)]="item.dateType">
                                                <nz-option nzLabel="节假日" nzValue="Holiday"></nz-option>
                                                <nz-option nzLabel="工作日" nzValue="Working"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired
                                                       nzFor="startTime-{{item.idx}}-oil-separate">时间区间
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="startTime-{{item.idx}}-oil-separate"
                                                    required
                                                    [(ngModel)]="item.startTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="1" [nzXs]="24">
                                            <nz-form-text>至</nz-form-text>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="endTime-{{item.idx}}-oil-separate"
                                                    required
                                                    [(ngModel)]="item.endTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                    </nz-form-item>

                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="level-{{item.idx}}-oil-separate">
                                            重要等级
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="level-{{item.idx}}-oil-separate"
                                                    required
                                                    nzShowSearch
                                                    nzAllowClear
                                                    nzPlaceHolder="请选择级别"
                                                    [(ngModel)]="item.priorityType">
                                                <nz-option nzLabel="高" nzValue="Hard"></nz-option>
                                                <!--<nz-option nzLabel="中等" nzValue="High"></nz-option>-->
                                                <nz-option nzLabel="低" nzValue="Low"></nz-option>
                                            </nz-select>
                                        </nz-form-control>

                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1"
                                                       nzFor="vehicle-{{item.idx}}-oil-separate">
                                            指定车辆
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="10" [nzXs]="24">
                                            <nz-select
                                                    required
                                                    name="vehicle-{{item.idx}}-oil-separate"
                                                    [(ngModel)]="item.plateNumber"
                                                    nzPlaceHolder="请指定车辆"
                                                    nzAllowClear
                                                    nzShowSearch
                                                    [nzServerSearch]="true"
                                                    (nzOnSearch)="onSearchVehicles($event)">
                                                <!-- 这个option 为了防止初始化表单时,车辆没有显示出值 -->
                                                <nz-option *ngIf="item.plateNumber && !vehicles"
                                                           [nzValue]="item.plateNumber"
                                                           [nzLabel]="item.plateNumber">
                                                </nz-option>

                                                <ng-container *ngFor="let o of vehicles">
                                                    <nz-option *ngIf="!isVehiclesLoading" [nzValue]="o"
                                                               [nzLabel]="o"></nz-option>
                                                </ng-container>
                                                <nz-option *ngIf="isVehiclesLoading" nzDisabled nzCustomContent>
                                                    <i nz-icon type="loading" class="loading-icon"></i> 加载中...
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>

                                </nz-form-item>
                            </nz-tab>
                        </nz-tabset>
                        <ng-template #addSeparateDurationTemplate>
                            <button nz-button
                                    type="button"
                                    nzType="dashed"
                                    (click)="onAddDuration(formModelSeparate.duration.tabType)">
                                <i class="anticon anticon-plus"></i> 添加
                            </button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- 当选择类别为聚类(广场点)时 Cluster start -->
            <div *ngIf="selectedCategory === 'Cluster'">

                <nz-form-item style="margin-bottom: 5px;">
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="collectionNameCluster">名称</nz-form-label>
                    <nz-form-control [nzSm]="7" [nzXs]="24">
                        <input nz-input
                               required
                               name="collectionNameCluster"
                               placeHolder="请输入名称"
                               [(ngModel)]="formModelCluster.collectionName"
                               #collectionNameCluster="ngModel">
                        <nz-form-explain [hidden]="collectionNameCluster.valid || collectionNameCluster.pristine">请输入收运单位名称
                        </nz-form-explain>
                    </nz-form-control>

                    <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired nzFor="collectionTypeCluster">单位类型</nz-form-label>
                    <nz-form-control [nzSm]="7" [nzXs]="24">
                        <nz-select
                                name="collectionTypeCluster"
                                required
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="请选择类型"
                                [(ngModel)]="formModelCluster.collectionType"
                                #collectionTypeCluster="ngModel">
                            <nz-option nzLabel="餐饮单位" nzValue="1"></nz-option>
                            <nz-option nzLabel="政府" nzValue="2"></nz-option>
                            <nz-option nzLabel="医院" nzValue="3"></nz-option>
                            <nz-option nzLabel="学校" nzValue="4"></nz-option>
                            <nz-option nzLabel="企业" nzValue="5"></nz-option>
                            <nz-option nzLabel="其他" nzValue="6"></nz-option>
                        </nz-select>
                        <nz-form-explain [hidden]="collectionTypeCluster.valid || collectionTypeCluster.pristine">请选择单位类型
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item style="margin-bottom: 5px;">
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="address">地址</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <app-cascader [(values)]="formModelCluster.address"
                                      (changesEmitter)="onAddressChange($event)"></app-cascader>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item style="margin-bottom: 5px;">
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="detailAddress">详细地址</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <nz-input-group [nzSuffix]="suffixTemplate">
                            <input type="text"
                                   nz-input
                                   name="detailAddress"
                                   placeHolder="请输入详细地址"
                                   [(ngModel)]="formModelCluster.detailAddress"
                                   #detailAddressCluster="ngModel">
                        </nz-input-group>
                        <ng-template #suffixTemplateCluster>
                            <i class="anticon anticon-close-circle"
                               style="margin-right: 5px;cursor: pointer;"
                               *ngIf="formModelCluster.detailAddress"
                               (click)="formModelCluster.detailAddress=null">
                            </i>
                            <i class="anticon anticon-environment-o"
                               style="cursor: pointer;"
                               nzTitle="展开地图选点"
                               nzPlacement="right"
                               nz-tooltip
                               (click)="onShowMap()">
                            </i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item style="margin-bottom: -5px;">
                    <nz-form-label [nzSm]="23" [nzXs]="23" nzOffset="1" nzRequired style="text-align: left;">
                        子收集点
                    </nz-form-label>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-item
                            *ngFor="let item of formModelCluster.childCollections">
                        <nz-form-control [nzSm]="16" [nzXs]="20" nzOffset="3">
                            <input type="text"
                                   style="text-align: center;"
                                   required
                                   nz-input
                                   name="childCollections-{{item.idx}}"
                                   placeHolder="点击输入子收集点名称"
                                   [(ngModel)]="item.name">
                        </nz-form-control>
                        <nz-form-control [nzSm]="2" [nzXs]="2" nzOffset="1">
                            <i nz-icon type="minus-circle-o"
                               class="anticon dynamic-delete-button anticon-minus-circle-o"
                               (click)="onRemoveChildCollections(item.idx)"></i>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzSm]="16" [nzXs]="24" nzOffset="3">
                            <button nz-button
                                    style="width: 100%;"
                                    type="button"
                                    nzType="dashed"
                                    (click)="onAddChildCollection()">
                                <i class="anticon anticon-plus"></i> 添加
                            </button>
                        </nz-form-control>
                    </nz-form-item>
                </nz-form-item>

                <nz-divider [nzText]="planTemplate">
                    <ng-template #planTemplate>
                        <span style="color: #83bf46;">规划信息</span>
                    </ng-template>
                </nz-divider>

                <nz-form-item style="margin-bottom: -5px;">
                    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired style="text-align: left;">
                        要求收运时间段(至少选择一个)
                    </nz-form-label>
                </nz-form-item>
                <nz-form-item>
                    <!-- 餐厨垃圾 和 废弃油脂 标签页 -->
                    <nz-form-control [nzSm]="22" [nzXs]="24" nzOffset="1">
                        <nz-tabset [nzTabBarExtraContent]="addClusterDurationTemplate">
                            <nz-tab [nzTitle]="'餐厨垃圾'" (nzSelect)="formModelCluster.duration.tabType = 'food'">
                                <!--餐厨垃圾-->
                                <nz-form-item
                                        *ngFor="let item of formModelCluster.duration.food"
                                        style="background-color: #eee; padding: 7px 5px 0;margin-bottom: 10px;">
                                    <i class="anticon anticon-minus-circle-o dynamic-delete-button"
                                       style="position: absolute; top: -2px;right: 0;z-index: 1;font-size: 1.4rem; cursor: pointer;"
                                       (click)="onRemoveDuration(formModelCluster.duration.tabType, item.idx)">
                                    </i>
                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired
                                                       nzFor="dateType-{{item.idx}}-food-cluster">时间类型
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="dateType-{{item.idx}}-food-cluster"
                                                    nzPlaceHolder="时间段"
                                                    [(ngModel)]="item.dateType">
                                                <nz-option nzLabel="节假日" nzValue="Holiday"></nz-option>
                                                <nz-option nzLabel="工作日" nzValue="Working"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired
                                                       nzFor="startTime-{{item.idx}}-food-cluster">时间区间
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="startTime-{{item.idx}}-food-cluster"
                                                    required
                                                    [(ngModel)]="item.startTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="1" [nzXs]="24">
                                            <nz-form-text>至</nz-form-text>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="endTime-{{item.idx}}-food-cluster"
                                                    required
                                                    [(ngModel)]="item.endTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                    </nz-form-item>

                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="level-{{item.idx}}-food-cluster">
                                            重要等级
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="level-{{item.idx}}-food-cluster"
                                                    required
                                                    nzShowSearch
                                                    nzAllowClear
                                                    nzPlaceHolder="请选择级别"
                                                    [(ngModel)]="item.priorityType">
                                                <nz-option nzLabel="高" nzValue="Hard"></nz-option>
                                                <!--<nz-option nzLabel="中" nzValue="High"></nz-option>-->
                                                <nz-option nzLabel="低" nzValue="Low"></nz-option>
                                            </nz-select>
                                        </nz-form-control>

                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1"
                                                       nzFor="vehicle-{{item.idx}}-food-cluster">
                                            指定车辆
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="10" [nzXs]="24">
                                            <nz-select
                                                    required
                                                    name="vehicle-{{item.idx}}-food-cluster"
                                                    [(ngModel)]="item.plateNumber"
                                                    nzPlaceHolder="请指定车辆"
                                                    nzAllowClear
                                                    nzShowSearch
                                                    [nzServerSearch]="true"
                                                    (nzOnSearch)="onSearchVehicles($event)">
                                                <!-- 这个option 为了防止初始化表单时,车辆没有显示出值 -->
                                                <nz-option *ngIf="item.plateNumber && !vehicles"
                                                           [nzValue]="item.plateNumber"
                                                           [nzLabel]="item.plateNumber">
                                                </nz-option>

                                                <ng-container *ngFor="let o of vehicles">
                                                    <nz-option *ngIf="!isVehiclesLoading" [nzValue]="o"
                                                               [nzLabel]="o"></nz-option>
                                                </ng-container>
                                                <nz-option *ngIf="isVehiclesLoading" nzDisabled nzCustomContent>
                                                    <i nz-icon type="loading" class="loading-icon"></i> 加载中...
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-form-item>
                            </nz-tab>

                            <nz-tab [nzTitle]="'废弃油脂'" (nzSelect)="formModelCluster.duration.tabType = 'oil'">
                                <!--废弃油脂-->
                                <nz-form-item
                                        *ngFor="let item of formModelCluster.duration.oil"
                                        style="background-color: #eee; padding: 7px 5px 0;margin-bottom: 10px;">
                                    <i class="anticon anticon-minus-circle-o dynamic-delete-button"
                                       id="dynamic-delete-duration"
                                       (click)="onRemoveDuration(formModelCluster.duration.tabType, item.idx)">
                                    </i>
                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired
                                                       nzFor="dateType-{{item.idx}}-oil-cluster">时间类型
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="dateType-{{item.idx}}-oil-cluster"
                                                    required
                                                    nzShowSearch
                                                    nzAllowClear
                                                    nzPlaceHolder="时间段"
                                                    [(ngModel)]="item.dateType">
                                                <nz-option nzLabel="节假日" nzValue="Holiday"></nz-option>
                                                <nz-option nzLabel="工作日" nzValue="Working"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1" nzRequired
                                                       nzFor="startTime-{{item.idx}}-oil-cluster">时间区间
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="startTime-{{item.idx}}-oil-cluster"
                                                    required
                                                    [(ngModel)]="item.startTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="1" [nzXs]="24">
                                            <nz-form-text>至</nz-form-text>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="5" [nzXs]="24">
                                            <nz-time-picker
                                                    name="endTime-{{item.idx}}-oil-cluster"
                                                    required
                                                    [(ngModel)]="item.endTime"
                                                    nzFormat="HH:mm">
                                            </nz-time-picker>
                                        </nz-form-control>
                                    </nz-form-item>

                                    <nz-form-item style="margin-bottom: 5px;">
                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="level-{{item.idx}}-oil-cluster">
                                            重要等级
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="4" [nzXs]="24">
                                            <nz-select
                                                    name="level-{{item.idx}}-oil-cluster"
                                                    required
                                                    nzShowSearch
                                                    nzAllowClear
                                                    nzPlaceHolder="请选择级别"
                                                    [(ngModel)]="item.priorityType">
                                                <nz-option nzLabel="高" nzValue="Hard"></nz-option>
                                                <!--<nz-option nzLabel="中等" nzValue="High"></nz-option>-->
                                                <nz-option nzLabel="低" nzValue="Low"></nz-option>
                                            </nz-select>
                                        </nz-form-control>

                                        <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="1"
                                                       nzFor="vehicle-{{item.idx}}-oil-cluster">
                                            指定车辆
                                        </nz-form-label>
                                        <nz-form-control [nzSm]="10" [nzXs]="24">
                                            <nz-select
                                                    required
                                                    name="vehicle-{{item.idx}}-oil-cluster"
                                                    [(ngModel)]="item.plateNumber"
                                                    nzPlaceHolder="请指定车辆"
                                                    nzAllowClear
                                                    nzShowSearch
                                                    [nzServerSearch]="true"
                                                    (nzOnSearch)="onSearchVehicles($event)">
                                                <!-- 这个option 为了防止初始化表单时,车辆没有显示出值 -->
                                                <nz-option *ngIf="item.plateNumber && !vehicles"
                                                           [nzValue]="item.plateNumber"
                                                           [nzLabel]="item.plateNumber">
                                                </nz-option>

                                                <ng-container *ngFor="let o of vehicles">
                                                    <nz-option *ngIf="!isVehiclesLoading" [nzValue]="o"
                                                               [nzLabel]="o"></nz-option>
                                                </ng-container>
                                                <nz-option *ngIf="isVehiclesLoading" nzDisabled nzCustomContent>
                                                    <i nz-icon type="loading" class="loading-icon"></i> 加载中...
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>

                                </nz-form-item>
                            </nz-tab>
                        </nz-tabset>
                        <ng-template #addClusterDurationTemplate>
                            <button nz-button
                                    type="button"
                                    nzType="dashed"
                                    (click)="onAddDuration(formModelCluster.duration.tabType)">
                                <i class="anticon anticon-plus"></i> 添加
                            </button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <nz-divider></nz-divider>

            <nz-form-item nz-row style="margin-bottom: 150px;">
                <nz-form-control [nzSpan]="3" nzOffset="17">
                    <button nz-button
                            nzType="primary"
                            style="width: 100%;"
                            type="submit">确认
                    </button>
                </nz-form-control>
                <nz-form-control [nzSpan]="3" nzOffset="1">
                    <button nz-button
                            nzType="default"
                            style="width: 100%;"
                            type="button"
                            (click)="onClose()">取消
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-spin>
</div><!-- div.form end -->
