.ant-input-affix-wrapper {
  width: auto;
  margin-left: 5px;
  margin-right: 20px;
}

.table-operations {
  position: relative;
  z-index: 13;
  padding-bottom: 8px;

  .table-search {
    text-align: right;
  }

  .table-CUDE {
    /* 增删改导出 */
    text-align: right;
  }
}

.ant-calendar-picker {
  margin-left: 5px;
  margin-right: 15px;
}
