<div class="wrap">
  <!-- -------- 表格操作 -------- -->
  <div class="table-operations">
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzSpan="6">
        <!-- 面包屑导航 -->
        <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <!-- 关键字搜索 -->
        <div class="table-search">
          <span>收运单位</span>
          <nz-input-group [nzSuffix]="suffixIcon">
            <input
              id="customer"
              placeholder="请输入收运单位名称"
              nz-input
              [(ngModel)]="customer"
              (ngModelChange)="onSearchCustomer($event)"
              [nzAutocomplete]="auto"
            />
          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon type="search"></i>
          </ng-template>
          <nz-autocomplete #auto>
            <nz-auto-option
              *ngFor="let option of optionGroups"
              [nzLabel]="option.name"
              [nzValue]="option"
            >
              {{ option.name }}
            </nz-auto-option>
          </nz-autocomplete>
          <span>月份</span>
          <nz-month-picker
            [(ngModel)]="date"
            (ngModelChange)="onChangeDate($event)"
            nzPlaceHolder="请选择日期"
          ></nz-month-picker>
          <button nz-button nzType="default" (click)="onSearch()">
            查询
          </button>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <!-- CUDE: create,update,delete,export -->
        <div class="table-CUDE">
          <button nz-button nzType="default" (click)="onExport()">
            导出PDF
          </button>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  <!-- -------- 表格内容 -------- -->
  <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
    <nz-table
      #basicTable
      [nzData]="dataSet"
      [nzShowPagination]="false"
      [nzScroll]="{ y: tableScrollY }"
      class="collection-table"
      [nzBordered]="true"
    >
      <thead>
        <tr>
          <th nzWidth="130px">时间</th>
          <th nzWidth="80px">收运量(桶)</th>
          <th nzWidth="130px">收运车辆</th>
          <th nzWidth="130px">收运人员</th>
          <th nzWidth="130px">收运时间</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="dataSet">
          <tr>
            <td
              [attr.rowspan]="
                data && data.detailList && data.detailList.length > 0
                  ? data.detailList.length + 1
                  : 1
              "
            >
              {{ data.date }}
            </td>
            <td
              [attr.rowspan]="
                data && data.detailList && data.detailList.length > 0
                  ? data.detailList.length + 1
                  : 1
              "
            >
              {{ data.totalQuantity }}
            </td>
            <td
              [ngClass]="{
                'td-not-show':
                  data && data.detailList && data.detailList.length > 0
              }"
            ></td>
            <td
              [ngClass]="{
                'td-not-show':
                  data && data.detailList && data.detailList.length > 0
              }"
            ></td>
            <td
              [ngClass]="{
                'td-not-show':
                  data && data.detailList && data.detailList.length > 0
              }"
            ></td>
          </tr>
          <ng-template
            *ngIf="data.detailList && data.detailList.length > 0"
            ngFor
            let-child
            [ngForOf]="data.detailList"
          >
            <tr>
              <td class="amount-of-garbage">
                {{ child.plateNumber }}
              </td>
              <td class="amount-of-garbage">
                {{ child.driver }}
              </td>
              <td class="amount-of-garbage">
                {{ child.collectionTime | date: 'yyyy-MM-dd HH:mm:ss' }}
              </td>
            </tr>
          </ng-template>
        </ng-template>
      </tbody>
    </nz-table>
  </nz-spin>
</div>
