<div id="testMap">
    <!-- 左边操作栏 -->
    <div id="operation">
        <nz-button-group>
            <button nz-button nzType="default" (click)="setCenter([113.186894,23.031745])">国金</button>
            <button nz-button nzType="default" (click)="setCenter([113.192811,23.033113])">康怡</button>
            <button nz-button nzType="default" (click)="setCenter([113.175259,23.027268])">翰天</button>
            <button nz-button nzType="default" (click)="setCenter([113.177619,23.019092])">碧海湾</button>
            <button nz-button nzType="default" (click)="setCenter([113.196588,23.039215])">映月湖</button>
            <button nz-button nzType="default" (click)="setCenter([113.166737,23.019604])">天安</button>
        </nz-button-group>

        <nz-collapse>
            <nz-collapse-panel [nzHeader]="overlay" [nzActive]="false">
                <ng-template #overlay>
                    <a href="https://lbs.amap.com/api/javascript-api/reference/overlay#marker">LINK-覆盖物</a>
                </ng-template>
                <!-- content -->
                <nz-divider nzText="Marker" nzOrientation="left"></nz-divider>
                <nz-button-group>
                    <button nz-button nzType="default">增</button>
                    <button nz-button nzType="default">删</button>
                    <button nz-button nzType="default">显示</button>
                    <button nz-button nzType="default">隐藏</button>
                    <button nz-button nzType="default">国金->映月湖</button>
                </nz-button-group>
            </nz-collapse-panel>
        </nz-collapse>
    </div>

    <!-- 左边地图栏 -->
    <div id="container"></div>
</div>