<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">收运单位信息-新增</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="cutomer-name" class="col-sm-2 control-label">名称 *: </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cutomer-name" name="text" [(ngModel)]="context.text" />
            </div>
            <label class="col-sm-2 control-label">类别 *: </label>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 普通收运点
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 广场点
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="cutomer-account" class="col-sm-2 control-label">账号 *: </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cutomer-account" name="text" [(ngModel)]="context.text" />
            </div>
            <label for="cutomer-password" class="col-sm-2 control-label">密码 *: </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cutomer-password" name="text" [(ngModel)]="context.text" />
            </div>
        </div>
    </form>
    <hr>
    <strong>Modal context:</strong> <pre>{{context | json}}</pre>
    <hr>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Ok</button>
    <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
</div>