<div id="login">
    <div class="header">
        <p class="title">智能餐厨垃圾收运监管一体化平台</p>
        <p class="company">佛山市络思讯科技有限公司&nbsp;&nbsp;&nbsp;www.locision.com</p>
    </div>
    <div class="body">
        <div class="container_wrapper">
            <div class="login_pictures">
                <div class="logo"></div>
                <div class="full_name"></div>
                <div class="english_slogan">Internet of Things . Internet of Thinks</div>
            </div>
            <div class="login_container">
                <div class="login_content">
                    <form class="form-horizontal" id="login_form">
                        <h5 class="login_title">用户登录</h5>
                        <div class="login_inputs">
                            <div class="form-group">
                                <label for="username" class="col-sm-3 control-label login_label">用户名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="username" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label login_label">密 码</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="password" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="help-block col-sm-9 col-sm-offset-3 login_tips">抱歉, 您的用户名或密码不正确</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary login_btn">登 录</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="slogan"></div>
    </div>
</div>