<div id="login">
    <!--<div class="header">
        <p class="title">智能餐厨垃圾收运监管一体化平台</p>
        <p class="company">佛山市络思讯科技有限公司&nbsp;&nbsp;&nbsp;www.locision.com</p>
    </div>-->
    <div class="body">
        <div class="container_wrapper">
            <div class="login_container">
                <div class="login_logo">
                    <img src="../../assets/images/newlogo_small.png" alt="LOGO" class="logo-left">
                    <img src="../../assets/images/zhangzhou-logo.png" alt="LOGO" class="logo-right">
                </div>
                <div class="login_content">
                    <h4>登录</h4>

                    <form nz-form  class="login-form" (ngSubmit)="onSubmit()">
                        <nz-form-item>
                            <nz-form-control>
                                <nz-input-group nzPrefixIcon="anticon anticon-user">
                                    <input type="text"
                                           name="username"
                                           maxlength="20"
                                           required
                                           [(ngModel)]="formModel.username"
                                           nz-input
                                           placeholder="请输入您的用户名"
                                           #usernameModel="ngModel">
                                </nz-input-group>
                                <nz-form-explain [hidden]="usernameModel.valid || usernameModel.pristine">请输入正确的用户名</nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                                    <input type="password"
                                           name="password"
                                           maxlength="20"
                                           required
                                           [(ngModel)]="formModel.password"
                                           nz-input
                                           placeholder="请输入您的密码"
                                           #passwordModel="ngModel">
                                </nz-input-group>
                                <nz-form-explain [hidden]="passwordModel.valid || passwordModel.pristine">请输入正确的密码</nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <button nz-button class="login-form-button" [nzType]="'primary'">登录</button>
                            </nz-form-control>
                        </nz-form-item>
                    </form>

                    <!--<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                        <nz-form-item>
                            <nz-form-control>
                                <nz-input-group nzPrefixIcon="anticon anticon-user">
                                    <input type="text" nz-input formControlName="userName" placeholder="请输入您的用户名">
                                </nz-input-group>
                                <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">用户名不正确</nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                                    <input type="password" nz-input formControlName="password" placeholder="请输入您的密码">
                                </nz-input-group>
                                <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">密码不正确</nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                &lt;!&ndash;<label nz-checkbox formControlName="remember">
                                    <span>记住我</span>
                                </label>&ndash;&gt;
                                <button nz-button class="login-form-button" [nzType]="'primary'">登录</button>
                            </nz-form-control>
                        </nz-form-item>
                    </form>-->
                </div>
            </div>
        </div>
        <!--<div class="slogan"></div>-->
        <p class="Locision">© 2013-2018 Locision.com 版权所有</p>
    </div>
</div>