.wrap {
    width: 100%;
    height: 100%;
}

.table-operations {
    position: relative;
    z-index: 13;
    padding-bottom: 8px;
    [nz-button] {
    }

    .table-search {
        text-align: right;
    }

    .table-CUDE { /* 增删改导出 */
        text-align: right;
    }

}

.inner-table-opt {
    margin-bottom: 2px;

    .location {
        cursor: pointer;
    }

    .inner-table-title {
        height: 32px;
        line-height: 32px;
        font-size: 1.5rem;
    }

    .inner-table-btns {
        text-align: right;
    }
}
