<div class="wrap">
    <!-- -------- 表格操作 -------- -->
    <div class="table-operations">
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="10">
                <!-- 面包屑导航 -->
                <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
            </div>
            <div nz-col nzSpan="6" nzOffset="8">
                <!-- CUDE: create,update,delete,export -->
                <div class="table-CUDE">
                    <button nz-button
                            nzType="default"
                            nzShape="circle"
                            nzTitle="保存"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i nz-icon type="save" theme="outline"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            nzType="default"
                            nzShape="circle"
                            nzTitle="方案预测"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i nz-icon type="bar-chart" theme="outline"></i>
                    </button>
                    &nbsp;
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- -------- 表格内容 -------- -->
    <div class="table-content">
        <div nz-row nzGutter="16">


            <!-- ******** 路线 start ******** -->
            <div nz-col nzSpan="7">
                <div class="inner-table-opt">
                    <div nz-row>
                        <div nz-col nzSpan="4" class="inner-table-title">
                            <i nz-icon type="environment" theme="outline" class="location"></i>
                            路线
                        </div>
                        <div nz-col nzSpan="19" nzOffset="1" class="inner-table-btns">
                            <button nz-button
                                    nzType="default"
                                    (click)="isAddRouteFormVisible = true">
                                新增
                            </button>
                            &nbsp;
                            <button nz-button
                                    nzType="default"
                                    [disabled]="!selectedRoutesCache"
                                    (click)="onSelectVehicle()">
                                选择车辆
                            </button>
                            &nbsp;
                            <button nz-button
                                    nzType="default"
                                    [disabled]="!selectedRoutesCache"
                                    (click)="onDelRoute()">
                                删除
                            </button>
                            &nbsp;
                        </div>
                    </div>
                </div>
                <nz-spin [nzSize]="'large'" [nzSpinning]="isRoutesSpinning">
                    <nz-table #routesTable
                              [nzData]="routeListCache"
                              [nzScroll]="{ x: '450px', y: '500px' }"
                              [nzFrontPagination]="false"
                              [nzShowPagination]="false">
                        <thead>
                        <tr>
                            <th nzWidth="64px">
                                锁定
                            </th>
                            <th nzWidth="120px">
                                路线
                                <br/>
                                <input type="text" nz-input placeholder=""
                                       nzSize="small" style="width: 60%;"
                                       [(ngModel)]="params.route.name"
                                       (keyup)="$event.which === 13 && getRouteList()">
                            </th>
                            <th nzWidth="120px">
                                车牌号
                                <br/>
                                <input type="text" nz-input placeholder=""
                                       nzSize="small" style="width: 60%;"
                                       [(ngModel)]="params.route.plateNumber"
                                       (keyup)="$event.which === 13 && getRouteList()">
                            </th>
                            <th nzWidth="100px">
                                优先级
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of routeListCache; index as i"
                            [ngClass]="{ 'table-row-selected': item.checked }"
                            (click)="onSelectRoute($event, item)">
                            <td>
                                <i nz-icon type="lock"
                                   theme="outline"
                                   style="cursor: pointer;"
                                   *ngIf="item.lock"
                                   (click)="onRouteStatusChange($event, item)">
                                </i>
                                <i nz-icon type="unlock"
                                   theme="outline"
                                   style="cursor: pointer;"
                                   *ngIf="!item.lock"
                                   (click)="onRouteStatusChange($event, item)">
                                </i>
                            </td>
                            <td>{{item.name}}</td>
                            <td>{{item.plateNumber}}</td>
                            <td>
                                <nz-select *ngIf="item.plateNumber && sameVehicleRoutes[item.plateNumber].length > 1"
                                           style="width: 100%"
                                           [(ngModel)]="item.priority"
                                           [nzSize]="'small'"
                                           (click)="onStopPro($event)"
                                           (ngModelChange)="onChangeRoutePriority($event, item)">
                                    <ng-container *ngFor="let o of sameVehicleRoutes[item.plateNumber]; index as i">
                                        <nz-option [nzValue]="i + 1" [nzLabel]="i + 1"></nz-option>
                                    </ng-container>
                                </nz-select>
                            </td>
                        </tr>
                        </tbody>
                    </nz-table>
                </nz-spin>
            </div>
            <!--    新增路线    -->
            <nz-drawer
                    [nzPlacement]="'left'"
                    [nzWidth]="400"
                    [nzClosable]="true"
                    [nzVisible]="isAddRouteFormVisible"
                    nzTitle="新建路线"
                    (nzOnClose)="onCloseAddRouteForm()">
                <form nz-form #routeForm="ngForm">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzFor="route-name-new">路线名称</nz-form-label>
                        <nz-form-control [nzSpan]="17">
                            <input nz-input
                                   name="route-name-new"
                                   required
                                   type="text"
                                   id="route-name-new"
                                   [(ngModel)]="formDataRoute.name">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="8" [nzOffset]="7">
                            <button nz-button
                                    nzType="primary"
                                    [disabled]="!routeForm.valid"
                                    (click)="onAddRoute()">确认
                            </button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </nz-drawer>
            <!-- ******** 路线 end ******** -->


            <!-- ******** 已派发 start ******** -->
            <div nz-col nzSpan="7">
                <div class="inner-table-opt">
                    <div nz-row>
                        <div nz-col nzSpan="7" class="inner-table-title">
                            <i nz-icon type="check" theme="outline" class="location"></i>
                            已派发
                        </div>
                        <div nz-col nzSpan="16" nzOffset="1" class="inner-table-btns">
                            <button nz-button
                                    nz-popconfirm
                                    nzTitle="确认取消派发?"
                                    (nzOnConfirm)="onCancelDistribute()"
                                    nzType="default"
                                    nzPlacement="topCenter">
                                取消派发
                            </button>
                            &nbsp;
                        </div>
                    </div>
                </div>
                <nz-spin [nzSize]="'large'" [nzSpinning]="isDistributeSpinning">
                    <nz-table #distributeTable
                              [nzData]="distributedListCache"
                              [nzScroll]="{ x: '600px', y: '500px' }"
                              [nzFrontPagination]="false"
                              [nzShowPagination]="false">
                        <thead>
                        <tr>
                            <th nzWidth="160px">
                                名称
                                <br/>
                                <input type="text"
                                       nz-input
                                       nzSize="small"
                                       style="width: 60%;"
                                       [(ngModel)]="params.distribute.name"
                                       (keyup)="$event.which === 13 && getDistributeList()">
                            </th>
                            <th nzWidth="150px">
                                收运时间
                            </th>
                            <th nzWidth="110px">
                                收运量
                            </th>
                            <th nzWidth="80px">
                                状态
                            </th>
                        </tr>
                        </thead>
                        <!--<tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
                        <tr *ngFor="let item of distributedListCache; index as i"
                            [ngClass]="{ 'table-row-selected': item.checked }"
                            cdkDrag
                            (click)="onSelectDistribute($event, item)">
                            <td>名称名称名称{{item.id}}</td>
                            <td>收运时间收运时间收运</td>
                            <td>收运量</td>
                            <td>状态状态</td>
                        </tr>
                        </tbody>-->
                    </nz-table>
                </nz-spin>
            </div>
            <!-- ******** 已派发 end ******** -->


            <!-- ******** 请求 start ******** -->
            <div nz-col nzSpan="10">
                <div class="inner-table-opt">
                    <div nz-row>
                        <div nz-col nzSpan="4" class="inner-table-title">
                            <i nz-icon type="to-top" theme="outline" class="location"></i>
                            收运请求
                        </div>
                        <div nz-col nzSpan="19" nzOffset="1" class="inner-table-btns">
                            <button nz-button
                                    nzType="default"
                                    (click)="onAddDemand()">
                                新增
                            </button>
                            &nbsp;
                            <button nz-button
                                    nzType="default"
                                    (click)="onDelDemand()">
                                删除
                            </button>
                            &nbsp;
                            <button nz-button
                                    nzType="default">
                                规划
                            </button>
                            &nbsp;
                            <button nz-button
                                    nzType="default">
                                派发
                            </button>
                            &nbsp;
                        </div>
                    </div>
                </div>
                <nz-spin [nzSize]="'large'" [nzSpinning]="isDemandSpinning">
                    <nz-table #demandTable
                              [nzData]="demandListCache"
                              [nzScroll]="{ x: '1000px', y: '500px' }"
                              [nzFrontPagination]="false"
                              [nzTotal]="pageRes.total"
                              [nzPageIndex]="pageRes.page"
                              [nzPageSize]="pageRes.size"
                              (nzPageIndexChange)="onPage($event)"
                              (nzPageSizeChange)="onPage($event)">
                        <thead>
                        <tr>
                            <th nzWidth="50px"></th>   <!-- 是否展示子列表按钮 -->
                            <th nzWidth="200px" nzCustomFilter>
                                名称
                                <br/>
                                <input type="text" nz-input placeholder=""
                                       nzSize="small" style="width: 60%;"
                                       [(ngModel)]="params.demand.name"
                                       (keyup)="$event.which === 13 && getDemandList()">
                            </th>
                            <th nzWidth="200px">
                                收运时间
                            </th>
                            <th nzWidth="120px">
                                收运量
                            </th>
                            <th nzWidth="120px">
                                超时等级
                            </th>
                            <th nzWidth="120px">
                                指定车辆
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-template ngFor let-item [ngForOf]="demandListCache">
                            <tr [ngClass]="{ 'table-row-selected': item.checked }"
                                (click)="onSelectDemand($event, item)">
                                <td [nzShowExpand]="item.subTaskList && item.subTaskList.length > 0"
                                    [(nzExpand)]="item.expand"
                                    (nzExpandChange)="onCollapse(item, $event)" (click)="onStopPro($event)"></td>
                                <td>{{item.name}}</td>
                                <td>
                                    <nz-select style="width: 100%;"
                                               nzSize="small"
                                               [(ngModel)]="item.collectionPeriodId"
                                               (ngModelChange)="onChangeDuration($event, item)"
                                               (click)="onStopPro($event)">
                                        <nz-option
                                                *ngFor="let op of item.collectionPeriods"
                                                [nzValue]="op.id"
                                                nzLabel="{{op.dateType | collectionDateType}} - {{op.startTime | secondToHourMinute}} ~ {{op.endTime | secondToHourMinute}}">
                                        </nz-option>
                                    </nz-select>
                                </td>
                                <td>
                                    <nz-input-number [(ngModel)]="item.amountOfGarbage"
                                                     [nzSize]="'small'"
                                                     [nzMin]="0"
                                                     [nzStep]="0.1"
                                                     [nzDisabled]="item.subTaskList !== null"
                                                     (click)="onStopPro($event)">
                                    </nz-input-number>
                                </td>
                                <td>{{item.selectedPeriod.priority | collectionPeriodPriority}}</td>
                                <td>{{item.selectedPeriod.vehicle}}</td>
                            </tr>
                            <ng-template *ngIf="item.expand" ngFor let-child [ngForOf]="item.subTaskList">
                                <tr [ngClass]="{ 'table-row-selected': child.checked }"
                                    (click)="onSelectDemand($event, child, item)">
                                    <td></td>
                                    <td>{{child.name}}</td>
                                    <td>
                                        {{item.selectedPeriod.dateType | collectionDateType}}
                                        -
                                        {{item.selectedPeriod.startTime | secondToHourMinute}}
                                        ~
                                        {{item.selectedPeriod.endTime | secondToHourMinute}}
                                    </td>
                                    <td>
                                        <nz-input-number [(ngModel)]="child.amountOfGarbage"
                                                         [nzSize]="'small'"
                                                         [nzMin]="0"
                                                         [nzStep]="0.1"
                                                         (ngModelChange)="onGarbageAmountChange($event, item)"
                                                         (click)="onStopPro($event)">
                                        </nz-input-number>
                                    </td>
                                    <td>{{item.selectedPeriod.priority | collectionPeriodPriority}}</td>
                                    <td>{{item.selectedPeriod.vehicle}}</td>
                                </tr>
                            </ng-template>
                        </ng-template>
                        </tbody>
                    </nz-table>
                </nz-spin>
            </div>
            <!-- ******** 请求 start ******** -->
        </div>
    </div>
</div>
