@import "../../../../assets/styles/customer-global";

.wrap {
    width: 100%;
    height: 100%;
}

.table-operations {
    position: relative;
    z-index: 13;
    padding-bottom: 8px;
    [nz-button] {
    }

    .table-search {
        text-align: right;
    }

    .table-CUDE { /* 增删改导出 */
        text-align: right;
    }

}

.table-content {
    th, td {
        text-align: center;
    }
}

.inner-table-opt {
    margin-bottom: 2px;

    .inner-table-title {
        height: 32px;
        line-height: 32px;
        color: #83bf46;
    }

    .inner-table-btns {
        text-align: right;
    }
}
