@import "../../../../assets/styles/customer-global";
@import "../../../shared/components/breadcrumbs/breadcrumbs.component-param";
@import "../../../shared/components/header/header.component-param";
@import "../../manage-app.component-param";

/* table height */
$breadcrumbs-total-height: (#{$breadcrumbs-height} + #{$breadcrumbs-padding-bottom} + #{$manage-app-content-padding});
$table-height: calc(100vh - #{$header-height} - (#{$breadcrumbs-total-height}) - #{$manage-app-content-padding});

.wrap {
    width: 100%;
    height: 100%;
}

.table-operations {
    position: relative;
    z-index: 13;
    padding-bottom: 8px;

    .table-search {
        text-align: right;
    }

    .table-CUDE { /* 增删改导出 */
        text-align: right;
    }

}

.table-content {
    min-height: $table-height;
    th, td {
        text-align: center;
    }

    /* start of 收运请求表格 */
    .editable-cell {
        position: relative;
    }

    .editable-cell-text-wrapper {
        padding-right: 35px;
    }

    .editable-cell-icon,
    .editable-cell-icon-check {
        position: absolute;
        right: 0;
        width: 20px;
        cursor: pointer;
    }

    .editable-cell-icon-close {
        position: absolute;
        right: 20px;
        width: 20px;
        cursor: pointer;
    }

    .editable-cell-icon {
        line-height: 24px;
        display: none;
    }
    /* 行hover时出现图标 */
    .editable-tr:hover .editable-cell-icon,
    .editable-tr:hover .editable-cell-icon-check,
    .editable-tr:hover .editable-cell-icon-close {
        display: inline-block;
    }

    .editable-cell-icon-check,
    .editable-cell-icon-close {
        line-height: 24px;
        display: inline-block;
    }

    .editable-cell-icon:hover,
    .editable-cell-icon-check:hover,
    .editable-cell-icon-close:hover {
        color: #108ee9;
    }
    /* end of 收运请求表格 */
}

.inner-table-opt {
    margin-bottom: 2px;

    .inner-table-title {
        height: 32px;
        line-height: 32px;
        color: #83bf46;
    }

    .inner-table-btns {
        text-align: right;
    }
}
