@import "../../../../../assets/styles/customer-global";

.wrap {
    th, td {
        text-align: center;
    }

    .vehicletable-thead::-webkit-scrollbar {
        display: none;
    }

    .vehicleTable-tbody::-webkit-scrollbar {
        display: none;
    }
}