@import "../../../assets/styles/customer-global";
@import "../../shared/components/breadcrumbs/breadcrumbs.component-param";
@import "../../shared/components/header/header.component-param";
@import "../manage-app.component-param";


/* table height */
$breadcrumbs-total-height: (#{$breadcrumbs-height} + #{$breadcrumbs-padding-bottom} + #{$manage-app-content-padding});
$table-height: calc(100vh - 0.1rem - #{$header-height} - (#{$breadcrumbs-total-height}) - #{$manage-app-content-padding});
$map-height: $table-height;

.wrap {
    width: 100%;
    height: 100%;
}

.top-bar {
    position: relative;
    z-index: 13;
    padding-bottom: 8px;

    .table-search {
        text-align: right;
    }

    .table-CUDE { /* 增删改导出 */
        text-align: right;
        height: 32px;
        line-height: 32px;

        .question-icon {
            cursor: pointer;
        }
    }
}

.side-bar {
    min-height: $table-height;
    position: relative;
    padding: 0 1px 1px;

    td {
        padding: 5px;
    }

    .tables-cell, .map-cell {
        height: $table-height;
    }

    .table-route {
        min-height: $table-height;
        border: 1px solid #e8e8e8;
        box-sizing: border-box;
    }

    .table-task {
        min-height: $table-height;
        border: 1px solid #e8e8e8;
        border-left: 0px;
        box-sizing: border-box;
        background-color: #fff;
        position: absolute;
        left: 100%;
        z-index: 1000;

        .amount-of-garbage {
            text-align: center;
        }

        /*.hide-table-task-icon {
            position: absolute;
            top: 50%;
            left: 100%;
            background-color: #fff;
            border: 1px solid #aeaeae;
            border-left: 0;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }*/
    }

}

.map-cell {
    #map {
        width: 100%;
        min-height: $map-height;
    }
}

.child-tag-text {
    width: 127px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: -22px;
    margin-left: 35px;
}