<div class="wrap">
    <div class="top-bar">
        <div nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="10">
                <!-- 面包屑导航 -->
                <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
            </div>
            <div nz-col class="gutter-row " nzSpan="8" nzOffset="6">
                <div class="table-CUDE">
                    <label nz-checkbox [(ngModel)]="isShowSideBar" (ngModelChange)="onToggleSideBar($event)">侧边栏</label>
                    &nbsp;
                    <label nz-checkbox [(ngModel)]="isShowCity" (ngModelChange)="onToggleCity($event)">漳州市</label>
                    &nbsp;
                    <label nz-checkbox [(ngModel)]="isShowGasStation" (ngModelChange)="onToggleGasStation($event)">加油站</label>
                    &nbsp;
                    <span class="question-icon"
                          (click)="onShowTips()">
                        <i nz-icon type="question-circle" theme="fill"></i>
                    </span>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- 侧边栏与地图 -->
    <div class="side-bar" nz-row>
        <div class="tables-cell" nz-col nzSpan="13" nz-row>
            <!-- 线路表格 -->
            <div class="table-route" nz-col nzSpan="12">
                <nz-table #routeTable [nzData]="routeListCache">
                    <thead>
                    <tr>
                        <th nzWidth="50px"></th>
                        <th>路线</th>
                        <th>车辆</th>
                        <th>司机</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of routeListCache">
                        <td>序号</td>
                        <td>路线路线</td>
                        <td>车辆车辆</td>
                        <td>司机司机</td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
            <!-- 任务表格 -->
            <div class="table-task" nz-col nzSpan="12">
                <nz-table #taskTable [nzData]="taskListCache">
                    <thead>
                    <tr>
                        <th nzWidth="60%">收集点</th>
                        <th nzWidth="40%">手持报量(吨)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of taskListCache">
                        <td>我是名称</td>
                        <td>1212</td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div class="map-cell" nz-col nzSpan="11">
            <div id="map"></div>
        </div>
    </div>
</div>