
@import "src/assets/styles/customer-global";
@import "src/app/shared/components/breadcrumbs/breadcrumbs.component-param";
@import "src/app/shared/components/header/header.component-param";
@import "src/app/manage/manage-app.component-param";

/* table height */
$breadcrumbs-total-height: (#{$breadcrumbs-height} + #{$breadcrumbs-padding-bottom} + #{$manage-app-content-padding});
$table-height: calc(100vh - #{$header-height} - (#{$breadcrumbs-total-height}) - #{$manage-app-content-padding});

.wrap {
    width: 100%;
    height: 100%;
}

.table-operations {
    position: relative;
    z-index: 13;
    padding-bottom: 8px;

    .table-search {
        text-align: right;
    }

    .table-CUDE { /* 增删改导出 */
        text-align: right;
    }

    .route-info {
        font-weight: bold;
        margin-top: 5px;
    }
}

.table-content {
    height: $table-height;

    th, td {
        text-align: center;
    }

    a {
        text-decoration: underline;
        color: dodgerblue;
    }
}

.map-layout {
    
    .task-list {
        position: absolute;
        right: 0;
        top: 75px;
    }

    .toggle-layout {
        position: absolute;
        
        button {
            border-radius: 0;
        }
    }

    .task-pane {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        background-color: white;
    }
}

.border-layout {
    border: 1px solid rgb(250, 245, 247);

    .monitor-info {
        padding: 6px;
        background-color: rgb(250, 248, 250);

        i[nz-icon] {
            font-size: 28px;
            color: rgb(130, 191, 69);
            cursor: pointer;
        }

        .monitor-title {
            margin-left: 6px;
        }
        
        .time-text {
            font-size: 12px;
            margin-top: 5px;
        }

        button[nz-button] {
            font-size: 12px;
        }
    }
}