<div class="calendar-wrap">
  <div class="logout">
    <button nz-button nzType="default" (click)="logout()">退出登录</button>
  </div>
  <div class="department_info">
    <div class="name">
      <span> {{ name }}</span>
    </div>
    <div class="address">
      <span> {{ addr }} </span>
    </div>
  </div>
  <div class="calendar">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
      <nz-calendar
        (nzSelectChange)="onChangeDate($event)"
        [nzFullscreen]="false"
        [(ngModel)]="selectedDate"
      >
        <ul *nzDateCell="let date" class="events">
          <ng-container
            [ngSwitch]="date.getDate()"
            *ngFor="let item of calendarData; index as i"
          >
            <ng-container *ngSwitchCase="i + 1">
              <span>{{ item.totalQuantity || 0 }}</span>
            </ng-container>
          </ng-container>
        </ul>
      </nz-calendar>
    </nz-spin>
  </div>
  <div class="tabs">
    <button
      nz-button
      nzType="default"
      (click)="onCalendar()"
      [ngClass]="selectedCal ? 'selected' : 'unselected'"
    >
      日历
    </button>
    <button
      nz-button
      nzType="default"
      (click)="onTable()"
      [ngClass]="selectedCal ? 'unselected' : 'selected'"
    >
      表格
    </button>
  </div>
</div>
