<div class="wrap">
    <div class="table-operations">
        <div nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="10">
                <!-- 面包屑导航 -->
                <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
            </div>
            <div nz-col class="gutter-row " nzSpan="8" nzOffset="6">
                <div class="table-CUDE">
                    <label nz-checkbox [(ngModel)]="isShowSideBar" (ngModelChange)="onToggleSideBar($event)">侧边栏</label>
                    &nbsp;
                    <label nz-checkbox [(ngModel)]="isShowCity" (ngModelChange)="onToggleCity($event)">漳州市</label>
                    &nbsp;
                    <label nz-checkbox [(ngModel)]="isShowGasStation" (ngModelChange)="onToggleGasStation($event)">加油站</label>
                    &nbsp;
                    <span class="question-icon"
                          (click)="onShowTips()">
                        <i nz-icon type="question-circle" theme="fill"></i>
                    </span>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- 侧边栏与地图 -->
    <div class="table-content" nz-row>
        <div class="tables-cell" nz-col nzSpan="13" nz-row>
            <div class="table-route" nz-col nzSpan="12">

            </div>
            <div class="table-task" nz-col nzSpan="12"></div>
        </div>
        <div class="map-cell" nz-col nzSpan="11">
            <div id="map"></div>
        </div>
    </div>
</div>