.manage-app-header {
    width: 100%;
    position: relative;
}

.manage-app-content {
    width: 100%;
    padding: .5rem;
    position: absolute;
    top: 56px;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
}

/* 包含列表组件的样式 */
.wrap {
    width: 100%;
    height: 100%;
}

.table-operations {
    position: relative;
    z-index: 13;
    padding-bottom: 8px;
    [nz-button] {
    }

    .table-search {
        text-align: right;
    }

    .table-CUDE { /* 增删改导出 */
        text-align: right;
    }
}