<div id="form">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-divider [nzText]="basicTemplate">
            <ng-template #basicTemplate>
                <span style="color: #83bf46;">基础信息</span>
            </ng-template>
        </nz-divider>

        <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="username">用户名</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
                <input nz-input formControlName="username" id="username">
                <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">不对诶</nz-form-explain>
            </nz-form-control>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="2" nzRequired nzFor="gender">性别</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
                <nz-radio-group [nzButtonStyle]="'solid'" formControlName="gender" id="gender">
                    <label nz-radio-button nzValue="0">女</label>
                    <label nz-radio-button nzValue="1">男</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="statusId">工号</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
                <input nz-input formControlName="statusId" id="statusId">
                <nz-form-explain *ngIf="validateForm.get('statusId').dirty && validateForm.get('statusId').errors">不对诶</nz-form-explain>
            </nz-form-control>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="2" nzFor="password" nzRequired>密码</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
                <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
                <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入您的密码</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="position">岗位</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择岗位" formControlName="position">
                    <nz-option nzLabel="司机" nzValue="0"></nz-option>
                    <nz-option nzLabel="收运专员" nzValue="1"></nz-option>
                    <nz-option nzLabel="操作工" nzValue="2"></nz-option>
                    <nz-option nzLabel="车队长" nzValue="3"></nz-option>
                    <nz-option nzLabel="收运主管" nzValue="4"></nz-option>
                    <nz-option nzLabel="项目公司总经理" nzValue="5"></nz-option>
                    <nz-option nzLabel="中控人员" nzValue="6"></nz-option>
                </nz-select>
            </nz-form-control>

            <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="2" nzRequired nzFor="hireDate">入职时间</nz-form-label>
            <nz-form-control [nzSm]="9" [nzXs]="24">
                <nz-date-picker formControlName="hireDate" (ngModelChange)="onHireDateChange($event)" nzShowTime></nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="systemRole">系统角色</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
                <nz-select formControlName="systemRole" [nzSize]="size" nzMode="multiple" nzPlaceHolder="请选择">
                    <nz-option nzLabel="系统管理员" nzValue="0"></nz-option>
                    <nz-option nzLabel="司机" nzValue="1"></nz-option>
                    <nz-option nzLabel="中控人员" nzValue="2"></nz-option>
                    <nz-option nzLabel="收运专员" nzValue="3"></nz-option>
                    <nz-option nzLabel="管理人员" nzValue="4"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-divider [nzText]="contactTemplate">
            <ng-template #contactTemplate>
                <span style="color: #83bf46;">联系信息</span>
            </ng-template>
        </nz-divider>
        <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="personalId">身份证</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
                <input nz-input formControlName="personalId" id="personalId">
                <nz-form-explain *ngIf="validateForm.get('personalId').dirty && validateForm.get('personalId').errors">不对诶</nz-form-explain>
            </nz-form-control>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="2" nzRequired nzFor="phoneNumber">固话</nz-form-label>
            <nz-form-control [nzSm]="9" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
                <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
                <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">Please input your phone number!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <!--<nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="mobile">移动电话</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24" [nzValidateStatus]="validateForm.controls['mobile']">
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                        <nz-select formControlName="phoneNumberPrefix">
                            <nz-option nzLabel="+86" nzValue="+86"></nz-option>
                            <nz-option nzLabel="+87" nzValue="+87"></nz-option>
                        </nz-select>
                    </ng-template>
                    <input formControlName="mobile" id="'mobile'" nz-input>
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('mobile').dirty && validateForm.get('mobile').errors">Please input your phone number!</nz-form-explain>
            </nz-form-control>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzOffset="2" nzRequired nzFor="">身份证</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
                <input nz-input formControlName="" id="">
                <nz-form-explain *ngIf="validateForm.get('').dirty && validateForm.get('').errors">不对诶</nz-form-explain>
            </nz-form-control>
        </nz-form-item>-->
    </form>

</div><!-- div.form end -->

{{this.validateForm.value | json}}