<div class="add-demand">
    <nz-row style="text-align: center;">
        <nz-col nzSpan="10" nzOffset="7">
            <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                <input type="text"
                       nz-input
                       [(ngModel)]="params.name"
                       (keyup)="$event.which === 13 && onSearch()">
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button
                        nzSearch
                        nzType="primary"
                        (click)="onSearch()">
                    <i nz-icon type="search"></i>
                </button>
            </ng-template>
        </nz-col>
    </nz-row>

    <nz-row class="cluster-operation">
        <nz-col nzSpan="5" class="navigator">
            <div *ngIf="isShowSub" class="nav-content">
                <span nz-popconfirm
                      nzTitle="返回将撤销当前操作"
                      (nzOnConfirm)="onHideSub()">
                    <i nz-icon type="left" theme="outline"></i>
                    {{selectedCluster.name || ''}}
                </span>
            </div>
        </nz-col>
        <nz-col nzSpan="18">
            <nz-row *ngIf="isShowSub">
                <nz-col nzSpan="14">
                    <strong>收运时间: </strong>
                    <nz-select style="width: 75%;"
                               nzSize="small"
                               [(ngModel)]="selectedCluster.collectionPeriodId"
                               (ngModelChange)="onChangeClusterTime($event)">
                        <nz-option
                                *ngFor="let op of selectedCluster.collectionPeriods"
                                [nzValue]="op.id"
                                nzLabel="{{op.dateType | collectionDateType}} - {{op.startTime | secondToHourMinute}} ~ {{op.endTime | secondToHourMinute}}">
                        </nz-option>
                    </nz-select>
                </nz-col>
                <nz-col nzSpan="4">
                    <strong>优先等级: </strong>
                    {{selectedCluster.selectedPeriod && selectedCluster.selectedPeriod.priority || '' |
                    collectionPeriodPriority}}
                </nz-col>
                <nz-col nzSpan="6">
                    <strong>指定车辆: </strong>
                    {{selectedCluster.selectedPeriod && selectedCluster.selectedPeriod.vehicle || ''}}
                    <!--指定车辆: {{selectedCluster.vehiclePlate || ''}}-->
                </nz-col>
            </nz-row>
        </nz-col>
    </nz-row>

    <nz-row *ngIf="!isShowSub">
        <nz-table #demandTable
                  [nzSize]="'middle'"
                  [nzLoading]="isDemandSpinning"
                  [nzData]="demandListCache"
                  [nzScroll]="{ x: '900px', y: '500px' }"
                  [nzFrontPagination]="false"
                  [nzTotal]="pageRes.total"
                  [nzPageIndex]="pageRes.page"
                  [nzPageSize]="pageRes.size"
                  (nzPageIndexChange)="onPage($event)"
                  (nzPageSizeChange)="onPage($event)">
            <thead>
            <tr>
                <th nzWidth="64px"
                    nzShowCheckbox
                    [(nzChecked)]="allSelected"
                    [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="onSelectAll($event)">
                </th>
                <th nzWidth="200px">
                    名称
                </th>
                <!--<th nzWidth="200px">
                    账号
                </th>-->
                <th nzWidth="250px">
                    收运时间
                </th>
                <th nzWidth="80px">
                    收运量
                </th>
                <!--<th nzWidth="120px">
                    日期类型
                </th>-->
                <th nzWidth="120px">
                    超时等级
                </th>
                <th>
                    指定车辆
                </th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-item [ngForOf]="demandListCache">
                <!-- 普通请求 -->
                <tr *ngIf="!item.subTaskList || !item.subTaskList.length"
                    [ngClass]="{ 'table-row-selected': item.checked }"
                    (click)="onSelectDemand($event, item)">
                    <td></td>
                    <td>{{item.name}}</td>
                    <td>
                        <nz-select style="width: 90%;"
                                   nzSize="small"
                                   [(ngModel)]="item.collectionPeriodId"
                                   (ngModelChange)="onChangeTime($event, item)"
                                   (click)="onStopPro($event)">
                            <nz-option
                                    *ngFor="let op of item.collectionPeriods"
                                    [nzValue]="op.id"
                                    nzLabel="{{op.dateType | collectionDateType}} - {{op.startTime | secondToHourMinute}} ~ {{op.endTime | secondToHourMinute}}">
                            </nz-option>
                        </nz-select>
                    </td>
                    <td>
                        <nz-input-number [(ngModel)]="item.amountOfGarbage"
                                         [nzSize]="'small'"
                                         [nzMin]="0"
                                         [nzStep]="0.1"
                                         (click)="onStopPro($event)">
                        </nz-input-number>
                    </td>
                    <td>
                        {{item.selectedPeriod && item.selectedPeriod.priority || '' | collectionPeriodPriority}}
                    </td>
                    <td>
                        {{item.selectedPeriod.vehicle}}
                        <!--{{item.vehiclePlate}}-->
                    </td>
                </tr>
                <!-- 聚类请求 -->
                <tr *ngIf="item.subTaskList && item.subTaskList.length > 0"
                    [ngClass]="{ 'table-row-selected': item.checked, 'cluster': true }">
                    <td></td>
                    <td>
                        <span (click)="onShowSub(item)">{{item.name}}</span>
                    </td>
                    <td></td>
                    <td><!-- 聚类请求不给予修改收运量 --></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
            </tbody>
        </nz-table>
    </nz-row>

    <nz-row *ngIf="isShowSub">
        <nz-table #demandTable
                  [nzSize]="'middle'"
                  [nzData]="selectedCluster.subTaskList"
                  [nzScroll]="{ y: '500px' }"
                  [nzFrontPagination]="false"
                  [nzShowPagination]="false">
            <thead>
            <tr>
                <th nzWidth="20%"
                    nzShowCheckbox
                    [(nzChecked)]="allSelectedSub"
                    [nzIndeterminate]="indeterminateSub"
                    (nzCheckedChange)="onSelectSubAll($event, selectedCluster)">
                </th>
                <th nzWidth="40%">
                    名称
                </th>
                <!--<th nzWidth="120px">
                    账号
                </th>-->
                <th nzWidth="40%">
                    收运量
                </th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-item [ngForOf]="selectedCluster.subTaskList">
                <tr [ngClass]="{ 'table-row-selected': item.checked }"
                    (click)="onSelectDemandSub($event, item, selectedCluster.id)">
                    <!--<td nzShowCheckbox
                        [(nzChecked)]="item.checked"
                        (nzCheckedChange)="refreshSelectStatus(2)">
                    </td>-->
                    <td></td>
                    <td>{{item.name}}</td>
                    <!--<td>账号TODO</td>-->
                    <td>
                        <nz-input-number [(ngModel)]="item.amountOfGarbage"
                                         [nzSize]="'small'"
                                         [nzMin]="0"
                                         [nzStep]="0.1"
                                         (click)="onStopPro($event)">
                        </nz-input-number>
                    </td>
                </tr>
            </ng-template>
            </tbody>
        </nz-table>
    </nz-row>

    <nz-row style="margin-top: 1rem;">
        <nz-col nzSpan="3" nzOffset="17">
            <button nz-button
                    style="width: 100%;"
                    nzType="default"
                    (click)="onClose(false)">取消
            </button>
        </nz-col>
        <nz-col nzSpan="3" nzOffset="1">
            <button nz-button
                    style="width: 100%;"
                    nzType="primary"
                    (click)="onSubmit()">确定
            </button>
        </nz-col>
    </nz-row>
</div>