@import "../../../../../assets/styles/customer-global";

.add-demand {
    th, td {
        text-align: center;
    }
    .cluster-operation {
        padding: 1rem 0;
        .navigator {
            min-height: 2rem;
            color: #1890ff;
            i, span {
                cursor: pointer;
            }
            div.nav-content {
                height: 2rem;
                line-height: 2rem;
                display: flex;
                align-content: center;
            }
        }
    }

    .cluster {
        color: #1890ff;
        td span {
            cursor: pointer;
        }
    }
}