<div class="add-demand">
    <nz-row style="text-align: center; margin-bottom: 2rem; padding: 0 2rem;">
        <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
            <input type="text"
                   nz-input
                   (keyup)="$event.which === 13 && onSearch()">
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button
                    nzSearch
                    nzType="primary"
                    (click)="onSearch()">
                <i nz-icon type="search"></i>
            </button>
        </ng-template>
    </nz-row>

    <nz-row>
        <nz-spin [nzSize]="'large'" [nzSpinning]="isDemandSpinning">
            <nz-table #demandTable
                      [nzData]="demandListCache"
                      [nzScroll]="{ x: '700px', y: '500px' }">
                <thead>
                <tr>
                    <th nzWidth="200px">
                        名称
                    </th>
                    <th nzWidth="120px">
                        收运时间
                    </th>
                    <th nzWidth="120px">
                        收运量
                    </th>
                    <th nzWidth="120px">
                        日期类型
                    </th>
                    <th nzWidth="120px">
                        超时等级
                    </th>
                    <th nzWidth="120px">
                        指定车辆
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of demandListCache; index as i"
                    [ngClass]="{ 'table-row-selected': item.checked }"
                    (click)="onSelectDemand($event, item)">
                    <td>{{item.name}}</td>
                    <td>收运时间</td>
                    <td>收运量TODO</td>
                    <td>{{item.collectionPeriod.dateType}}</td>
                    <td>{{item.collectionPeriod.priorityType}}</td>
                    <td>{{item.plateNumber}}</td>
                </tr>
                </tbody>
            </nz-table>
        </nz-spin>
    </nz-row>
</div>