<div class="calendar-wrap">
  <div class="logout">
    <button nz-button nzType="default" (click)="logout()">退出登录</button>
  </div>
  <div class="department_info">
    <div class="name">
      <span> department_name</span>
    </div>
    <div class="address">
      <span> department_addr </span>
    </div>
  </div>
  <div class="month-picker">
    <nz-month-picker
      nzPlaceHolder="请选择日期"
      [(ngModel)]="selectedMonth"
      (ngModelChange)="onMonthChange($event)"
    ></nz-month-picker>
  </div>
  <div class="table">
    <div class="table-header">
      <button nz-button nzType="default" (click)="onExport()">导出</button>
      <span>2019年1月垃圾收运量表</span>
    </div>
    <nz-table #basicTable [nzData]="dataSet">
      <thead>
        <tr>
          <th>时间</th>
          <th>收运量(桶)</th>
          <th>收运车辆</th>
          <th>收运人员</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.time }}</td>
          <td>{{ data.collection }}</td>
          <td>{{ data.vehicle }}</td>
          <td>{{ data.driver }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="tabs">
    <button
      nz-button
      nzType="default"
      (click)="onCalendar()"
      [ngClass]="selectedCal ? 'selected' : 'unselected'"
    >
      日历
    </button>
    <button
      nz-button
      nzType="default"
      (click)="onTable()"
      [ngClass]="selectedCal ? 'unselected' : 'selected'"
    >
      表格
    </button>
  </div>
</div>
