<div class="wrap">
  <!-- -------- 表格操作 -------- -->
  <div class="table-operations">
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzSpan="6">
        <!-- 面包屑导航 -->
        <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
      </div>
      <div nz-col class="gutter-row" nzSpan="18">
          <!-- 关键字搜索 -->
        <div class="table-search">
            <span>月份</span>
            <nz-month-picker
              [(ngModel)]="params.month"
              (ngModelChange)="onChangeDate($event)"
              nzPlaceHolder="请选择日期"
            ></nz-month-picker>
            <span>车辆</span>
            <nz-input-group [nzSuffix]="suffixIconForVehicle">
              <input
                id="vehicle"
                placeholder="请输入车牌号"
                nz-input
                [(ngModel)]="params.vehicleId"
                (ngModelChange)="onSearchVehicle($event)"
                [nzAutocomplete]="autoForVehicle"
              />
            </nz-input-group>
            <ng-template #suffixIconForVehicle>
              <i nz-icon type="search"></i>
            </ng-template>
            <nz-autocomplete #autoForVehicle>
              <nz-auto-option
                *ngFor="let option of vehicleOptions"
                [nzLabel]="option.plateNumber"
                [nzValue]="option.id"
              >
                {{ option.plateNumber }}
              </nz-auto-option>
            </nz-autocomplete>
            <span>司机</span>
            <nz-input-group [nzSuffix]="suffixIconForDriver">
              <input
                id="driver"
                placeholder="请输入司机名称"
                nz-input
                [(ngModel)]="params.driverId"
                (ngModelChange)="onSearchDriver($event)"
                [nzAutocomplete]="autoForDriver"
              />
            </nz-input-group>
            <ng-template #suffixIconForDriver>
              <i nz-icon type="search"></i>
            </ng-template>
            <nz-autocomplete #autoForDriver>
              <nz-auto-option
                *ngFor="let option of driverOptions"
                [nzLabel]="option.name"
                [nzValue]="option.id"
              >
                {{ option.name }}
              </nz-auto-option>
            </nz-autocomplete>
            <button nz-button nzType="default" (click)="onSearchData()">
                查询
            </button>
            <button nz-button nzType="default" (click)="onExport()">
                导出
            </button>
          </div>
      </div>
    </div>
  </div>
  <!-- -------- 表格内容 -------- -->
  <div class="table-content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
      <nz-table
        #basicTable
        [nzData]="dataSet"
        [nzScroll]="{ y: tableScrollY }"
        [nzFrontPagination]="false"
        [nzTotal]="pageRes.total"
        [nzPageIndex]="pageRes.page"
        [nzPageSize]="pageRes.size"
        (nzPageIndexChange)="onPageV2($event)"
        (nzPageSizeChange)="onPageV2($event)"
      >
        <thead>
          <tr>
            <th nzWidth="150px">日期</th>
            <th nzWidth="150px">司机</th>
            <th nzWidth="150px">车辆</th>
            <th nzWidth="100px">收运量(吨)</th>
            <th nzWidth="100px">行驶里程(公里)</th>
            <th nzWidth="100px">加油量(升)</th>
            <th nzWidth="100px">加油金额(元)</th>
            <th nzWidth="100px">加油卡余额(元)</th>
            <th nzWidth="100px">加油时里程(公里)</th>
            <th nzWidth="100px">圈存金额(元)</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data let-i="index" [ngForOf]="dataSet">
            <tr>
              <td>{{ data.date }}</td>
              <td>{{ data.driver }}</td>
              <td>{{ data.vehicle }}</td>
              <td>{{ data.collectionQuantity }}</td>
              <td>{{ data.tare }}</td>
              <td>{{ data.capacity }}</td>
              <td>{{ data.money }}</td>
              <td>{{ data.cardBalance }}</td>
              <td>{{ data.mileage }}</td>
              <td>{{ data.fillMoney }}</td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </nz-spin>
  </div>
</div>
