.wrap {
    width: 100%;
    height: 100%;
}

.table-operations {
    padding-bottom: 8px;
    [nz-button] {
    }

    .table-search {
        text-align: right;
    }

    .table-CUDE { /* 增删改导出 */
        text-align: right;
    }
}

ngx-datatable.extra-css {
    min-height: 586px;
    position: relative;
    datatable-footer { /* not work... */
        position: absolute;
        bottom: 0;
    }
    .ngx-datatable .datatable-footer {
        position: absolute !important;
        bottom: 0 !important;
    }
}