<div class="wrap">
    <!-- -------- 表格操作 -------- -->
    <div class="table-operations">
        <div nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="10">
                <!-- 面包屑导航 -->
                <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
            </div>
            <div nz-col class="gutter-row" nzSpan="8" nzOffset="2">
                <!-- 关键字搜索 -->
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <!-- CUDE: create,update,delete,export -->
                <div class="table-CUDE">
                    <button nz-button
                            nzType="default"
                            nzShape="circle"
                            (click)="onAdd()"
                            nzTitle="添加"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-plus-circle-o"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            [disabled]="!formCache"
                            nzType="default"
                            nzShape="circle"
                            (click)="onEdit()"
                            nzTitle="编辑"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-edit"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            nz-popconfirm
                            nzTitle="确认删除该信息吗?"
                            (nzOnConfirm)="onDel()"
                            [disabled]="!formCache"
                            nzType="default"
                            nzShape="circle"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-minus-circle-o"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            nzType="default"
                            nzShape="circle"
                            (click)="onExp()"
                            nzTitle="导出"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-file-excel"></i>
                    </button>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- -------- 表格内容 -------- -->
    <div class="table-content">
        <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
            <!--<ngx-datatable #dataTable class="material striped"
                           [messages]="list_options.localizationMessage"
                           [rows]="list_options.rows"
                           [columnMode]="'force'"
                           [headerHeight]="40"
                           [rowHeight]="40"
                           [footerHeight]="40"
                           [scrollbarH]="true"
                           [selected]="list_options.selectedRows"
                           [selectionType]="'multi'"
                           [sorts]="[{prop: 'buyDate', dir: 'desc'}]"
                           [limit]="12"
                           [externalPaging]="true"
                           [count]="pageRes.total"
                           [offset]="pageRes.page"
                           (select)="onSelect($event)"
                           (page)="onPage($event)"
                           (sort)="onSort($event)"
            >
                &lt;!&ndash;TODO&ndash;&gt;
                <ngx-datatable-column name="当前位置" prop="lngLat" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="是否参与规划" prop="plan" [sortable]="false">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        是否参与规划
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <label nz-checkbox [ngModel]="value"></label>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="是否可用" prop="available" [sortable]="false">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        是否可用
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <label nz-checkbox [ngModel]="value"></label>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="车牌号" prop="plateNumber" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="所属区域" prop="district" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="当前司机" prop="driver" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="计划出车时间" prop="planDepartureTime" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="车型" prop="vehicleType" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="车架号" prop="idNumber" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="发动机号" prop="engineModel" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="车载盒子ID" prop="boxId" [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="购买时间" prop="buyDate"></ngx-datatable-column>
            </ngx-datatable>-->

            <nz-table #staffTable
                      [nzData]="listCache"
                      [nzScroll]="{ x: '2000px', y: '500px'}"
                      [nzFrontPagination]="false"
                      [nzTotal]="pageRes.total"
                      [nzPageIndex]="pageRes.page"
                      [nzPageSize]="pageRes.size"
                      (nzPageIndexChange)="onPage($event)"
                      (nzPageSizeChange)="onPage($event)">
                <thead>
                <tr>
                    <th nzWidth="62px"></th><!-- 此表头为checkbox -->
                    <th nzWidth="100px">
                        当前位置
                    </th>
                    <th nzWidth="150px">
                        是否参与规划
                    </th>
                    <th nzWidth="100px">
                        是否可用
                    </th>
                    <th nzWidth="150px">
                        车牌号
                        <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.plateNumber"
                               (keyup)="$event.which === 13 && onKeywordSearch()">
                    </th>
                    <th nzWidth="150px"
                        nzShowFilter
                        [nzFilters]="countyFilterList"
                        [nzFilterMultiple]="false"
                        (nzFilterChange)="onFilter($event, 'area')">
                        所属区域
                    </th>
                    <th nzWidth="150px">
                        当前司机
                        <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.driver"
                               (keyup)="$event.which === 13 && onKeywordSearch()">
                    </th>
                    <th nzWidth="200px">
                        计划出车时间
                    </th>
                    <th nzWidth="150px"
                        nzShowFilter
                        [nzFilters]="vehicleCategoryFilterList"
                        [nzFilterMultiple]="false"
                        (nzFilterChange)="onFilter($event, 'typeId')">
                        车型
                    </th>
                    <th nzWidth="150px">
                        车架号
                    </th>
                    <th nzWidth="150px">
                        发动机号
                    </th>
                    <th nzWidth="150px">
                        车载盒子ID
                        <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.boxId"
                               (keyup)="$event.which === 13 && onKeywordSearch()">
                    </th>
                    <th nzWidth="200px"
                        nzShowSort
                        [(nzSort)]="sortMap.buyDate"
                        (nzSortChange)="onSort($event, 'buyDate')">
                        购买时间
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of staffTable.data; index as i" (click)="onSelectTr($event, item)">
                    <td nzShowCheckbox [(nzChecked)]="item.checked"
                        (nzCheckedChange)="onSelected($event, item)"></td>
                    <td>
                        <i nz-icon
                           class="anticon anticon-environment location"
                           *ngIf="item.lngLat">
                        </i>
                    </td>
                    <td>{{item.plan ? '是' : '否'}}</td>
                    <td>{{item.available ? '是' : '否'}}</td>
                    <td>{{item.plateNumber}}</td>
                    <td>{{item.district}}</td>
                    <td>{{item.driver}}</td>
                    <td>{{item.planDepartureTime}}</td>
                    <td>{{item.vehicleType}}</td>
                    <td>{{item.idNumber}}</td>
                    <td>{{item.engineModel}}</td>
                    <td>{{item.boxId}}</td>
                    <td>{{item.buyDate}}</td>
                </tr>
                </tbody>
            </nz-table>
        </nz-spin>
    </div>
</div>