<div class="wrap">
    <!-- -------- 表格操作 -------- -->
    <div class="table-operations">
        <div nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="10">
                <!-- 面包屑导航 -->
                <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
            </div>
            <div nz-col class="gutter-row" nzSpan="8" nzOffset="2">

            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <!-- CUDE: create,update,delete,export -->
                <div class="table-CUDE">
                    <button nz-button
                            (click)="onAdd()"
                            nzType="default"
                            nzShape="circle"
                            nzTitle="添加"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-plus-circle-o"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            [disabled]="!formCache"
                            (click)="onEdit()"
                            nzType="default"
                            nzShape="circle"
                            nzTitle="编辑"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-edit"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            nz-popconfirm
                            nzTitle="确认删除该信息吗?"
                            (nzOnConfirm)="onDel()"
                            [disabled]="!formCache"
                            nzType="default"
                            nzShape="circle"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-minus-circle-o"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            (click)="onExp()"
                            nzType="default"
                            nzShape="circle"
                            nzTitle="导出"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-file-excel"></i>
                    </button>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- -------- 表格内容 -------- -->
    <div class="table-content">
        <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
            <nz-table #nzTable
                      [nzScroll]="{x: '2200px', y: '500px'}"
                      [nzData]="listCache"
                      [nzFrontPagination]="false"
                      [nzTotal]="pageRes.total"
                      [nzPageIndex]="pageRes.page"
                      [nzPageSize]="pageRes.size"
                      (nzPageIndexChange)="onPageV2($event)"
                      (nzPageSizeChange)="onPageV2($event)">
                <thead>
                <tr>
                    <th nzWidth="50px"></th><!-- 此th为展开/收起表头 -->
                    <th nzWidth="62px"><div></div></th><!-- 此th与下面的th(全选)互斥,当前先不实现全选 -->
                    <th nzWidth="100px">类型</th>
                    <th nzWidth="100px">定位</th>
                    <th nzWidth="100px">图片</th>
                    <th nzWidth="200px" nzCustomFilter>名称
                        <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.name"
                               (keyup)="$event.which === 13 && onKeywordSearchTh('name')">
                    </th>
                    <th nzWidth="200px">所属区域</th>
                    <th nzWidth="250px">收运时间段</th>
                    <th nzWidth="200px">地址
                        <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.address"
                               (keyup)="$event.which === 13 && onKeywordSearchTh('address')">
                    </th>
                    <th nzWidth="200px">账号
                        <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.username"
                               (keyup)="$event.which === 13 && onKeywordSearchTh('username')">
                    </th>
                    <th nzWidth="100px">派桶数</th>
                    <th nzWidth="200px" nzShowSort [(nzSort)]="sortMap.createDate"
                        (nzSortChange)="onSortTh('createDate',$event)">登记时间 <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.createdDate"
                               (keyup)="$event.which === 13 && onKeywordSearchTh('createDate')">
                    </th>
                    <th nzWidth="150px">联系人 <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.contactName"
                               (keyup)="$event.which === 13 && onKeywordSearchTh('contactName')">
                    </th>
                    <th nzWidth="200px">联系电话 <br/>
                        <input type="text" nz-input placeholder=""
                               nzSize="small" style="width: 60%;"
                               [(ngModel)]="params.mobilePhone"
                               (keyup)="$event.which === 13 && onKeywordSearchTh('mobilePhone')">
                    </th>
                </tr>
                </thead>
                <tbody>
                <ng-template ngFor let-data [ngForOf]="nzTable.data">
                    <tr *ngIf="data.level === 0" (click)="onSelectedTr($event, data)">
                        <td [nzShowExpand]="data.customerList && data.customerList.length > 0"
                            [(nzExpand)]="data.expand"
                            (nzExpandChange)="onCollapse(data, $event)"></td>
                        <td nzShowCheckbox
                            [(nzChecked)]="data.checked"
                            [nzDisabled]="data.disabled"
                            (nzCheckedChange)="onSelected($event, data)"></td>
                        <td>{{data.level ? '子收集点' : (data.customerList ? '聚类点' : '普通点')}}</td>
                        <td>
                            <i nz-icon
                               class="anticon anticon-environment location"
                               *ngIf="data.lngLat">
                            </i>
                        </td>
                        <td>{{data.images.length}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.countyName}}</td>
                        <td>{{data.duration}}</td>
                        <td>{{data.detailAddress}}</td>
                        <td>{{data.username}}</td>
                        <td>{{data.totalDustbins}}</td>
                        <td>{{data.createdDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{data.contactName}}</td>
                        <td>{{data.mobilePhone}}</td>
                    </tr>
                    <ng-template *ngIf="data.expand" ngFor let-item [ngForOf]="data.customerList">
                        <tr  (click)="onClickTr($event, item)">
                            <td></td>
                            <td nzShowCheckbox [(nzChecked)]="item.checked" [nzDisabled]="item.disabled"
                                (nzCheckedChange)="onCheckedChange($event, item)"></td>
                            <td>{{item.level ? '子收集点' : (item.customerList ? '聚类点' : '普通点')}}</td>
                            <td>
                                <i nz-icon
                                   class="anticon anticon-environment location"
                                   *ngIf="item.lngLat">
                                </i>
                            </td>
                            <td>{{item.images.length}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.countyName}}</td>
                            <td>{{item.duration}}</td>
                            <td>{{item.detailAddress}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.totalDustbins}}</td>
                            <td>{{item.createdDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{item.contactName}}</td>
                            <td>{{item.mobilePhone}}</td>
                        </tr>
                    </ng-template>

                </ng-template>
                </tbody>
            </nz-table>
        </nz-spin>
    </div>
</div>