<div class="wrap">
    <!-- -------- 表格操作 -------- -->
    <div class="table-operations">
        <div nz-row nzGutter="16">
            <div nz-col class="gutter-row" nzSpan="12">
                <!-- 面包屑导航 -->
                <app-breadcrumbs [options]="breadcrumbs"></app-breadcrumbs>
            </div>
            <div nz-col class="gutter-row" nzSpan="6" nzOffset="2">
                <div class="table-search">
                    <nz-input-group nzSearch
                                    nzCompact
                                    nzSize="default">
                        <nz-select id="anti-select"
                                   style="min-width: 32px;"
                                   [nzSize]="'default'"
                                   [nzDropdownMatchSelectWidth]="false"
                                   [(ngModel)]="keywordType">
                            <nz-option nzValue="name" nzLabel="名称"></nz-option>
                            <nz-option nzValue="address" nzLabel="地址"></nz-option>
                            <nz-option nzValue="username" nzLabel="账号"></nz-option>
                            <nz-option nzValue="createTime" nzLabel="等级时间"></nz-option>
                            <nz-option nzValue="contactName" nzLabel="联系人"></nz-option>
                            <nz-option nzValue="mobilePhone" nzLabel="联系电话"></nz-option>
                        </nz-select>
                        <input type="text" nz-input placeholder="键入关键字, 按ENTER搜索" [(ngModel)]="keyword"
                        style="width: 70%;" (keyup)="$event.which == 13 && onKeywordSearch($event, keywordType)">
                    </nz-input-group>
                </div>
            </div>
            <div nz-col class="gutter-row" nzSpan="4">
                <!-- CUDE: create,update,delete,export -->
                <div class="table-CUDE">
                    <button nz-button
                            (click)="onAdd()"
                            nzType="default"
                            nzShape="circle"
                            nzTitle="添加"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-plus-circle-o"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            [disabled]="!formCache"
                            (click)="onEdit()"
                            nzType="default"
                            nzShape="circle"
                            nzTitle="编辑"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-edit"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            nz-popconfirm
                            nzTitle="确认删除该信息吗?"
                            (nzOnConfirm)="onDel()"
                            [disabled]="!formCache"
                            nzType="default"
                            nzShape="circle"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-minus-circle-o"></i>
                    </button>
                    &nbsp;
                    <button nz-button
                            (click)="onExp()"
                            nzType="default"
                            nzShape="circle"
                            nzTitle="导出"
                            nzPlacement="topCenter"
                            nz-tooltip>
                        <i class="anticon anticon-file-excel"></i>
                    </button>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- -------- 表格内容 -------- -->
    <div class="table-content">
        <ngx-datatable #dataTable class="material striped extra-css"
                       [messages]="list_options.localizationMessage"
                       [rows]="list_options.rows"
                       [columnMode]="'force'"
                       [headerHeight]="40"
                       [rowHeight]="40"
                       [footerHeight]="40"
                       [scrollbarH]="true"
                       [selected]="list_options.selectedRows"
                       [selectionType]="'multi'"
                       [limit]="3"
                       (select)="onSelect($event)"
                       (page)="onPage($event)"
                       (sort)="onSort($event)"
        >
            <!--TODO-->
            <ngx-datatable-column name="定位" prop="lngLat"></ngx-datatable-column>
            <!--TODO-->
            <ngx-datatable-column name="图片" prop="images"></ngx-datatable-column>
            <ngx-datatable-column name="名称" prop="name">
                <!--<ng-template let-column="column" ngx-datatable-header-template>
                    <app-select
                            [title]="'名称'"
                            [options]="selected_name"
                            (selectedEmitter)="onSelectEmitter($event)"
                    ></app-select>
                </ng-template>-->
                <ng-template let-column="column" ngx-datatable-header-template>
                    <!--<p>名称</p>
                    <nz-input-group nzSearch nzSize="small" [nzSuffix]="suffixButton">
                        <input type="text" nz-input placeholder="搜索" [(ngModel)]="keyWord">
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <button nz-button
                                nzType="default"
                                nzSize="small"
                                nzSearch
                                (click)="onKeywordSearch($event)">搜索</button>
                    </ng-template>-->
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="所属区域" prop="countyCode"></ngx-datatable-column>
            <ngx-datatable-column name="收运时间段" prop="duration"></ngx-datatable-column>
            <ngx-datatable-column name="地址" prop="detailAddress"></ngx-datatable-column>
            <ngx-datatable-column name="账号" prop="username"></ngx-datatable-column>
            <ngx-datatable-column name="派桶数" prop="totalDustbins"></ngx-datatable-column>
            <ngx-datatable-column name="登记时间" prop="createTime"></ngx-datatable-column>
            <ngx-datatable-column name="联系人" prop="contactName"></ngx-datatable-column>
            <ngx-datatable-column name="联系电话" prop="mobilePhone"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>